.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") nodejs
      li
        a(href="") vue
      li
        a(href="") react
      li
        a(href="") angular
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章